@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background{
    position: fixed;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../img/bg.jpg");
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/bg.jpg");
    background: -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/bg.jpg");
    background: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
body{
    padding-top: 0;
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.65em;
}
a{
    text-decoration: none;
    color: #FFF;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    min-height: 25em;
    overflow: hidden;
    position: relative;
    text-align: center;
    
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
.title{
    display: inline-block;
    padding: 0.35em 1em;
}
#slogan{
    max-width: 90%;
    margin-bottom: 2em;
    text-transform: uppercase;
}

#slogan .title{
    border-top: solid 2px #FFF;
    border-bottom: solid 2px #FFF;
    font-size: 1.75em;
    text-transform:none;
}

p{
    margin-bottom: 1em;
}

header a{
    text-decoration: none;
    color: #FFF;
    background-color: cadetblue;
    text-align: center;
    display: inline-block;
    width: 8em;
    border-radius: .5em;
}

#profile{
    background-color: #21b2a6;
    color: #c7ebe8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10em;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 1em;
}

#profile .title{
    border-bottom: solid 2px;
    border-color: rgba(0, 0, 0, 0.125);
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30em;
    max-width: 90%;
    list-style: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

#menu .tooltip {
    z-index:10;display:none;
}
#menu li:hover .tooltip{
    display:block; position:absolute;
    width: 8em;
    left: calc(50% - 4em);
    color:#FFF;
    background:#2e3842;
    border-radius: 30px;
    font-size: 14px;
}


#menu li{
    margin: 2em 0;
}
.menu_item:hover{
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0.13);
    transform: rotate(0deg);
    border-width: 3px;
    border-radius: 100%;
}

.menu_item{
    display: inline-block;
    font-size: 1.35em;
    text-align: center;
    width: 3em;
    height: 3em;
    transform: rotate(-45deg);
    border: solid 2px;
    border-color: rgba(0, 0, 0, 0.125);
}

.menu_icon{
    width: 48px;
    height: 3em;
}

#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2e3842;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
}

.row.reverse{
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.25);
}
.row_picture{
    width: 45%;
    height: 15em;
    background-image: url(../img/service.jpg);
    background-position: center;
    background-size: cover;
}
.row:nth-child(1) .row_picture{
    background-image: url(../img/service.jpg);
}

.row:nth-child(2) .row_picture{
    background-color: #FFF;
    background-image: url(../img/service2.png);
}

.row:nth-child(3) .row_picture{
    background-image: url(../img/service3.png);
}
.row_desc{
    padding: 1em;
}

.cloud_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 2em;
}
.cloud_list li{
    padding: .5em .5em;
}

#jobs{
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 2em 1em 0 1em;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
    transition: height 1.5s;
    width: 30%;
    min-width: 20em;
    text-align: center;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    margin-bottom: 2em;
    height: 15em;
    background-size: cover;
    background-position: center;
}

.card:nth-child(1){
  background-image: url("../img/job01-sd.png");
}
.card:nth-child(1):hover{
    background:  linear-gradient(
                          rgba(0, 0, 0, 0.7), 
                          rgba(0, 0, 0, 0.7)
                        ),
                 url("../img/job01-sd.png");
    background-size: cover;
}

.card:nth-child(2){
  background-image: url("../img/job02-sd.png");
}
.card:nth-child(2):hover{
    background:  linear-gradient(
                          rgba(0, 0, 0, 0.7), 
                          rgba(0, 0, 0, 0.7)
                        ),
                 url("../img/job02-sd.png");
    background-size: cover;
}

.card:nth-child(3){
  background-image: url("../img/job03-sd.png");
}
.card:nth-child(3):hover{
    background:  linear-gradient(
                          rgba(0, 0, 0, 0.7), 
                          rgba(0, 0, 0, 0.7)
                        ),
                 url("../img/job03-sd.png");
    background-size: cover;
}

.card:nth-child(4){
  background-image: url("../img/job04-sd.png");
}
.card:nth-child(4):hover{
    background:  linear-gradient(
                          rgba(0, 0, 0, 0.7), 
                          rgba(0, 0, 0, 0.7)
                        ),
                 url("../img/job04-sd.png");
    background-size: cover;
}

.card:nth-child(5){
  background-image: url("../img/job05-sd.png");
}
.card:nth-child(5):hover{
    background:  linear-gradient(
                          rgba(0, 0, 0, 0.7), 
                          rgba(0, 0, 0, 0.7)
                        ),
                 url("../img/job05-sd.png");
    background-size: cover;
}
.card:nth-child(6){
  background-image: url("../img/job06-sd.png");
}
.card:nth-child(6):hover{
    background:  linear-gradient(
                          rgba(0, 0, 0, 0.7), 
                          rgba(0, 0, 0, 0.7)
                        ),
                 url("../img/job06-sd.png");
    background-size: cover;
}

/*.card:hover{
    background:  linear-gradient(
                          rgba(0, 0, 0, 0.7), 
                          rgba(0, 0, 0, 0.7)
                        ),
                 url("../img/job01.jpg");
}*/

.wide{
    width: 90%;
    height: 80vh;
}

.card .hover_text{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    height: 4em;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    color: white;
}
 .card .hover_text img{
    width: 48px;
    height: 48px;
 }

.card .hover_text img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.card h3{
    color: #2e3842;
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 1em;
    background-color: #FFF;
}

.card:hover h3 + .hover_text{
    display: flex;
}

#contact{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.title-wide{
    width: 100%;
}

.separator{
    width: 10em;
    height: 1em;
    border-top: solid 2px #FFF;
}

.contact_list{
    width: 17em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.contact_list li{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 48px;
}

.icon{
    width: 48px;
    height: 48px;
    margin-right: 1em;
    padding: .25em;
}

#footer{
    padding: 2em 1em 1em 1em;
    background-color:  rgba(29, 36, 42, 0.9);
    font-size: 13pt;
    text-align: center;
}

#up{
    display: none;
    position: fixed;
    bottom: 2em;
    right: 1em;
    width: 3em;
    height: 3em;
    line-height: 3em;
    border-radius: 50%;
    text-align: center;
    background-color: cadetblue;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    z-index: 1000;
}

#up:hover{
    cursor: pointer;
};