* {
    margin: 0;
    padding: 0;
}

.photo {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.parallax-bg {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.home {
    background-color: #03A9F4;
    height: 500px;
}

.transition {
    position: absolute;
    top: calc(100% - 70px);
    width: 100%;
    background-repeat: repeat-x;
    background-position: bottom center;
    position: relative;
}

.nubes {
    background-image: url(../img/nubes_bg.png);
    height: 70px;
}

.nubes-animadas,
.nubes-animadas-back {
    position: relative;
    width: 100%;
    height: 0px;
    background-color: #dbdecb;
   
}

.nubes-animadas-back img {
    position: absolute;
    top: -150px;
    z-index: 40;
}

.nubes-animadas img {
    position: absolute;
    top: -150px;
    z-index: 50;
}

/**** NUBES BACK *****/
.nubes-animadas-back img:nth-child(1) {
    left: calc(50% - 650px);
    top: -90px;
}
.nubes-animadas-back img:nth-child(2) {
    left: calc(50% - 550px);
    top: -130px;
}
.nubes-animadas-back img:nth-child(3) {
    left: calc(50% - 350px);
}

.nubes-animadas-back img:nth-child(4) {
    left: calc(50% - 100px);
}

.nubes-animadas-back img:nth-child(5) {
    left: calc(50% + 70px);
    top: -115px;
}
.nubes-animadas-back img:nth-child(6) {
    left: calc(50% + 250px);
    top: -140px;
}
.nubes-animadas-back img:nth-child(7) {
    left: calc(50% + 450px);
    top: -100px;
}

/**** NUBES FRONT *****/
.nubes-animadas img:nth-child(1) {
    left: calc(50% - 450px);
}

.nubes-animadas img:nth-child(2) {
    left: calc(50% - 250px);
}

.nubes-animadas img:nth-child(3) {
    left: calc(50% + 70px);
}

.mountains {
    background-image: url(../img/mountains_bg.png);
    height: 80px;
}

.cielo {
    background-color: #dbdecb;
    height: 500px;
}

.tierra {
    background-color: #a68f58;
    height: 650px;
}

.waves-dark {
    top: calc(100% - 80px);
    background-image: url(../img/wave_dark_bg.png);
    height: 80px;
}

.waves-medium {
    top: -50px;
    height: 50px;
    background-image: url(../img/wave_medium_bg.png);
}

.sea-dark {
    top: calc(100% - 80px);
    background-color: #2B2B2B;
    height: 80px;
}

.sea-medium {
    top: -100px;
    height: 80px;
    background-color: #363637;
}

.ontop {
    z-index: 50;
}

.sea {
    background-color: #363637;
    height: 500px;
    /*background-color: dodgerblue;*/
}

.sea .content{
    background-color: #363637;
}
.content {
    position: absolute;
    width: 50%;
    left: 40px;
    top: 50px;
}